.navbar {
  min-height: 40px;
}
.navbar-default {
  background: transparent;
  border: 0;
  margin-bottom: 0;
}
.navbar-default .navbar-toggle {
  background: #ffffff;
}
.navbar-nav > li {
  background: #000000;
}
.navbar-nav > li a {
  padding: 10px;
}
.navbar-default .navbar-nav > .active > a {
  background: #ffffff;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}
.jumbotron {
  padding: 48px 0 36px;
  margin-top: -40px;
  background: url('');
}
.jumbotron h1 {
  display: inline-block;
  padding: 10px;
  background: #ffffff;
  margin: 0;
}
.jumbotron h2 {
  display: inline-block;
  background: #ffffff;
  margin-bottom: 0;
  padding: 5px;
  margin-left: 124px;
  margin-top: 8px;
  font-size: 40px;
}
.list-group-item {
  padding-left: 0;
}
.post-title {
  margin-top: 0;
}
#sidebar h3:first-child {
  margin-top: 0;
}
@media (min-width: 992px) {
  .extra-left {
    margin-left: -55px;
    padding: 14px;
  }
  .extra-right {
    margin-right: -55px;
    padding: 14px;
  }
}
@media (max-width: 767px) {
  .navbar-default {
    background-color: #000000;
  }
  .navbar-default .navbar-collapse {
    border: 0;
  }
}
